/* overalls styles */

.container {
  width: 100%;
  height: 100vh;
}

.site-container {
  height: 100vh;
  width: 1450px;
  padding: 0 30px;
  margin: 0 auto;
}

.btn-reset {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.is-hidden {
  display: none;
}

.custom-modal .p-dialog-content {
  padding: 20px;
}

.custom-modal .p-dialog-header {
  background: #f4f4f4;
  font-size: 1.2rem;
  font-weight: bold;
  border-bottom: 2px solid #ddd;
}

.p-inputtext-lg {
  font-size: 1.1rem;
  padding: 10px;
}

.swal2-container {
  z-index: 9999 !important;
}

/* Кастомизация вкладок */
.p-tabview .p-tabview-nav {
  border: none;
  background: transparent;
}

.p-tabview .p-tabview-nav .p-tabview-nav-link {
  background: transparent !important;
  border: none !important;
}

.p-tabview .p-tabview-nav .p-tabview-ink-bar {
  background-color: #3B82F6;
}

.p-tabview .p-tabview-nav .p-tabview-title {
  font-weight: 500;
  color: #6B7280;
}

.p-tabview .p-tabview-nav .p-highlight .p-tabview-title {
  color: #3B82F6;
}